/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin-left: 120px;  
}


/* header nav style 
--------------------- */
nav{
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #3A3A3A;
    margin-right: 2em; 
}
.first-menu-left{
    font-size: 24px;
    font-weight: bold;
}
.right-side-menu{
    font-size: 16px;
   margin-right: 120px;
  
   
}
/* first section style  */
.container{
    display: flex;
    padding-top: 115px;
    height: 500px;

    
}
.main-image{
    width: 50%;
    padding-left: 5px;
}
.influencer-heading{
    font-size: 52px;
    color: #3A3A3A;
    font-weight: bold;

}
.influence-journey{
    font-size: 16px;
}
.prebook-link{
    text-decoration: none;
    background-color:  #e72d55;;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 41px;
}
.circle{
    position: relative;
    z-index: 1;
}
#main-camera{
position: relative;
top:  -450px;
}

/* first section end 
------------------------ */
.collection-title{
    color: #3A3A3A;
    font-size: 24px; 
    text-align: center;
    font-weight: 600;
    margin-right: 19.92px;
}

