/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: rgb(230, 234, 238)
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4em;
}
.first-menu-left{
    font-size: 24px;
    font-weight: bold;
    margin-left: 4em;
}
nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    margin-right: 2em; 
}
/* section style start 
---------------------- */
 .container{
display: grid;
grid-template-columns: repeat(2,1fr);
 }
 .influence-heading{
    font-size: 52px;
    color: #3A3A3A;
    font-weight: bold;
 }
 .influence-paragraph{
     font-size: 16px;
     color: #3A3A3A;
 }
 .influence-paragraph{
     text-align: justify;
 }
 .Preebook-link{
     font-size: 16px;
     text-decoration: none;
     background-color: rgb(240, 49, 49);
     color: white;
     padding: 5px 10px;
     border-radius: 41px;
 }
 .main-camera{
    height: 400px;
    width: 400px;
   padding-left: 5px;
 }
 .influencers{
    margin-left: 100px;
    margin-right: 50px;
 } 
 /* section one style end 
  ----------------*/
  /* section two style start 
  -------------------------- */
  .Collection-title{
      text-align: center;
      font-size: 28px;
      color: #3A3A3A;
      padding-top: 60px;
  }
  .Products{
    height: 450px;
    width: 300px;
    border: 10px solid rgb(252, 255, 254);
    border-radius: 5px;
    background-color: white;
  }
  .star{
    color: orange;
}
.rating{
    color: black;}

  .best-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-gap: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
}